{% include 'blocks/head.html' %}

<div id="video-container">
    <video poster="../static/thumbnails/1WuJtcgExa8.jpg" controls>
        <!-- TODO: Put the available video links here. -->
    </video>
</div>

<div id="video-card">
    <h2 class="title">EV charging thoughts for renters, multi-family buildings, on-street parking areas, etc.</h2>

    <div class="minor-details">
        <span class="duration">120 minutes</span>
        <span class="separator">&bull;</span>
        <span class="timestamp">3 months ago</span>
    </div>

    <div class="description">The history here is wild!

        Links 'n' stuff:
        Oh, here's the mentioned link before I forget:
        https://www.kenrockwell.com/audio/sony/pcm-f1.htm

        Techmoan's video:
        https://www.youtube.com/watch?v=WVDCxTtn4OQ

        LGR's video:
        https://www.youtube.com/watch?v=TUS0Zv2APjU

        Technology Connextras (my second channel where stuff goes sometimes)
        https://www.youtube.com/@TechnologyConnextras

        Technology Connections on Mastodon:
        https://mas.to/@TechConnectify

        The TC Subreddit
        https://www.reddit.com/r/technologyconnections

        This channel is supported through viewer contributions on Patreon. Thanks to the generous support of people like you, Technology Connections has remained independent and possible. If you'd like to join the amazing people who've pledged their support, check out the link below. Thank you for your consideration!
        https://www.patreon.com/technologyconnections</div>
</div>

<div id="channel-banner">
    <div class="avatar">
        <img src="../static/avatars/UCXnNibvR_YIdyPs8PZIBoEw.jpg" alt="Channel Avatar">
    </div>

    <div class="labels">
        <h2 class="name">Cathode Ray Dude [CRD]</h2>
        <div class="description">
            Video cameras, computer mice, and the 2000s in general are my usual topics. I'm sure I'll waver eventually.

I hate capitalism and I'm not here to get sponsorships, I just want to share what I'm up to for your entertainment and education.

On my side channel (below) I sometimes upload smaller clips, and I do streams on some weekends.
        </div>
    </div>
</div>

{% include 'blocks/footer.html' %}
