<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Title</title>

    <link href="../static/css/reset.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">
</head>
<body>
<div id="navbar">
    <h1><a href="/">OwnTube</a></h1>
</div>

<!-- TODO: Put channel banner here. -->

<div id="video-list">
    <div class="video-item">
        <div class="thumbnail">
            <img src="../static/thumbnails/1WuJtcgExa8.jpg" alt="Video Thumbnail">
        </div>

        <div class="labels">
            <h2 class="title">EV charging thoughts for renters, multi-family buildings, on-street parking areas, etc.</h2>
            <div class="timestamp">3 months ago</div>
            <div class="channel">
                <img src="../static/avatars/UCXnNibvR_YIdyPs8PZIBoEw.jpg" alt="Avatar">
                <div class="name">Technology Connextras</div>
            </div>
        </div>
    </div>

    <div class="video-item">
        <div class="thumbnail">
            <img src="../static/thumbnails/1WuJtcgExa8.jpg" alt="Video Thumbnail">
        </div>

        <div class="labels">
            <h2 class="title">EV charging thoughts for renters, multi-family buildings, on-street parking areas, etc.</h2>
            <div class="timestamp">3 months ago</div>
            <div class="channel">
                <img src="../static/avatars/UCXnNibvR_YIdyPs8PZIBoEw.jpg" alt="Avatar">
                <div class="name">Technology Connextras</div>
            </div>
        </div>
    </div>

    <div class="video-item">
        <div class="thumbnail">
            <img src="../static/thumbnails/1WuJtcgExa8.jpg" alt="Video Thumbnail">
        </div>

        <div class="labels">
            <h2 class="title">EV charging thoughts for renters, multi-family buildings, on-street parking areas, etc.</h2>
            <div class="timestamp">3 months ago</div>
            <div class="channel">
                <img src="../static/avatars/UCXnNibvR_YIdyPs8PZIBoEw.jpg" alt="Avatar">
                <div class="name">Technology Connextras</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>